<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title><% appTitle %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
<style>
  body {
  display: flex;
  min-height: 100vh;
  align-items: center;
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  flex-direction: column;
}
input {
  width: 250px;
  text-align: center;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
</style>
<body>
<h1><% appTitle %></h1>
<div id="page">
  <h1>JavaScript live search</h1>
<input autocomplete="off" type="search" id="search" placeholder="Search for a country or name!" />

<ul id="results"></ul>


  </div>
<pre id="log"></pre>
<div id="mask"></div>
<script>
  console.log("PROTO:", window.location.protocol);
  if (window.location.protocol == 'https') {
    window.location.href = 'http://'+window.location.domain+'/';
  }

  const data = [
  { name: "Ryan", country: "Saint Lucia" },
  { name: "Malcolm", country: "Portugal" },
  { name: "Gregory", country: "Zimbabwe" },
  { name: "Hiroko", country: "Kenya" }
];

const search = document.getElementById("search");
const results = document.getElementById("results");
let search_term = "";

const showList = () => {
  results.innerHTML = "";
  data
    .filter((item) => {
      return (
        item.country.toLowerCase().includes(search_term) ||
        item.name.toLowerCase().includes(search_term)
      );
    })
    .forEach((e) => {
      const li = document.createElement("li");
      li.innerHTML = `<i>Name:</i> ${e.name}  || <i>Country:</i> ${e.country}`;
      results.appendChild(li);
    });
};

showList();

search.addEventListener("input", (event) => {
  search_term = event.target.value.toLowerCase();
  showList();
});
  
  window.addEventListener("load", () => {
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("service-worker.js");
  }
});

  var timer = function(name) {
    var start = new Date();
    return {
      stop: function() {
        var end  = new Date();
        var time = end.getTime() - start.getTime();
        return 'Timer: ' + name + ' finished in ' + time + 'ms';
      }
    }
  };

  function fetchWithTimeout(resource, options = {}, cb) {
    const { timeout = 8000 } = options;
    const controller = new AbortController();
    const id = setTimeout(() => controller.abort(), timeout);
    console.log(options)
    fetch(resource, {
      ...options,
      mode: 'no-cors',
      signal: controller.signal
    }).then((response) => {
        cb(response);
        clearTimeout(id);
    }).catch((error) => {
        cb(error);
        clearTimeout(id);
    });
  }

  function printable(response) {
    let o = {
      _type: typeof response,
      _text: response.toString()
    };
    if (o['_type'] == 'object') {
      o['_keys'] = Object.keys(response)
    }
    for (let i in response) {
      o[i] = response[i];
    }
    return JSON.stringify(o, null, '   ');
  }

  function polling() {
    let t = timer('Polling');
    let url = 'http://172.217.28.1/_discover';
    fetchWithTimeout(url, {
      timeout: 5000
    }, (response) => {
      console.log(response);
      let tm = t.stop();
      document.getElementById("log").innerHTML = printable(response)+"\n"+tm;
    });
  }

  polling();
  setInterval(polling, 10000);

</script>
</body>
</html>
